<%- include("../partials/html-head.ejs") %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include("../partials/nav.ejs") %>

<!DOCTYPE html>
<html>
<head>
  <title>All The Birthdays!</title>
</head>
<body>
  <h1>Birthdays</h1>
  <a href="/birthdays/new">Add New Birthday</a>
  <hr>
  <h2>All Flights</h2>
</body>
</html>

<%- include("../partials/footer.ejs") %>